<!DOCTYPE html>

<html lang="en">

<head>

    <title>code states admin page</title>

</head>

<body>
<h1>DID 관리자 로그인 페이지</h1>
<form method="post">
<table border=1>
<tr>
    <td><label>admin_id</label></td>
    <td><input type="text" name="admin_id"/></td>
</tr>
<tr>
    <td><label>admin_password</label></td>
    <td><input type="text" name="admin_password"/></td>
</tr>
</table>
<input type="submit" />
</form>

</body>

</html>

