<!DOCTYPE html>

<html lang="en">

<head>

    <title>code states admin page</title>

</head>

<body>
<h1>DID 관리자 페이지</h1>
<form method="post">
<table border=1>
    <td><a href="/admin/register">회원 가입</a> <!-- 자료 입력으로 이동 ()--></td>
    <td><a href="/admin/">로그인 하기</a> <!-- 자료 입력으로 이동 ()--></td>
</table>
 
</form>

</body>

</html>

