<!DOCTYPE>

<html  >

<head>

    <title></title>

</head>

<body>
<h1>관리자 생성</h1>
<table  border="1" >
<tr>
<td><a href="/admin/list">관리자목록</a> <!-- 자료 입력으로 이동 ()--></td>
<td><a href="/admin/search">관리자찾기</a> <!-- 자료 입력으로 이동 ()--></td>
</tr>
</table>
<form method="post">
<table border=1>
<tr>
    <td><label>ADMIN_ID</label></td>
    <td><input type="text" name="ADMIN_ID"/></td>
</tr>
<tr>
    <td><label>ADMIN_PASSWORD</label></td>
    <td><input type="text" name="ADMIN_PASSWORD"/></td>
</tr>
<tr>
    <td><label>ADMIN_NAME</label></td>
    <td><input type="text" name="ADMIN_NAME" /></td>
</tr>
<tr>
    <td><label>ADMIN_GRADE</label></td>
    <td><input type="text" name="ADMIN_GRADE" /></td>
</tr>
</table>
<input type="submit" />
</form>


</body>

</html>

