<!DOCTYPE>

<html  >

<head>

    <title></title>

</head>

<body>
<h1>관리자 회원가입</h1>
<table  border="1" >
<tr>
 
</tr>
</table>
<form method="post">
<table border=1>
<tr>
    <td><label>ADMIN_ID</label></td>
    <td><input type="text" name="ADMIN_ID"/></td>
</tr>
<tr>
    <td><label>ADMIN_PASSWORD</label></td>
    <td><input type="text" name="ADMIN_PASSWORD"/></td>
</tr>
<tr>
    <td><label>ADMIN_NAME</label></td>
    <td><input type="text" name="ADMIN_NAME" /></td>
</tr>

</table>
<input type="submit" />
</form>


</body>

</html>

