<!DOCTYPE>

<html  >

<head>

    <title></title>

</head>

<body>
<h1>회원 생성</h1>
<table  border="1" >
<tr>
<td><a href="/user/list">회원목록</a> <!-- 자료 입력으로 이동 ()--></td>
<td><a href="/user/search">회원찾기</a> <!-- 자료 입력으로 이동 ()--></td>
</tr>
</table>
<form method="post">
<table border=1>
<tr>
    <td><label>USER_ID</label></td>
    <td><input type="text" name="USER_ID"/></td>
</tr>
<tr>
    <td><label>USER_PASSWORD</label></td>
    <td><input type="text" name="USER_PASSWORD"/></td>
</tr>
<tr>
    <td><label>USER_NAME</label></td>
    <td><input type="text" name="USER_NAME" /></td>
</tr>
<tr>
    <td><label>USER_AGE</label></td>
    <td><input type="text" name="USER_AGE" /></td>
</tr>
<tr>
    <td><label>USER_GENDER</label></td>
    <td><input type="text" name="USER_GENDER" /></td>
</tr>
<tr>
    <td><label>USER_EMAIL</label></td>
    <td><input type="text" name="USER_EMAIL" /></td>
</tr>
<tr>
    <td><label>USER_PHONE</label></td>
    <td><input type="text" name="USER_PHONE" /></td>
</tr>
<tr>
    <td><label>USER_PROGRAM</label></td>
    <td><input type="text" name="USER_PROGRAM" /></td>
</tr>
</table>
<input type="submit" />
</form>


</body>

</html>

